# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

_Objectives:_
* List popular languages for Data Science.
* List popular libraries for Data Science.
* List of well known data science Tools.

Some of the popular languages that data scientists use are:
1.Python
2.R
3.SQL
4.Java

Some of the commonly used libraries used by Data Scientists include:
1.Tensorflow
2.Numpy
3.Pandas
4.Matplotlib
5.Keras
6.Pytorch

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
 10 / (5 - 2) + 3 * 2

9.333333333333334

In [2]:
result = (4 + 5) * 2
print(result)

18

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Taha Bouhafa